@model List<Wedding>


@* May need to include this for the actions: *@
@*!=========================== query to check if user is signed up for the Wedding: *@

    <div class="d-flex flex-column justify-content-center align-items-center">
        <br class="w-75" />
        <table class="w-75 table table-dark table-striped table-bordered">
            <thead class="table-secondary">
                <th>Wedding Of</th>
                <th>Date</th>
                <th>Guest Count</th>
                <th>Action</th>
            </thead>
            @foreach (Wedding wedding in Model )
            {
            //added to session check actions
            bool alreadyRSVPd = wedding.WeddingGuests.Any(g => g.UserId == Context.Session.GetInt32("UUID"));
            <tbody>
                <td>
                <a class="text-light" asp-controller="Wedding" asp-action="Details" asp-route-id="@wedding.WeddingId"> @wedding.WedderOne & @wedding.WedderTwo </a>
                </td>
                <td>@wedding.WeddingDate.ToString("MMM d, yyyy")</td>
                <td>@wedding.WeddingGuests.Count</td>
                <td>
                    <p>
                        @if(wedding.UserId == Context.Session.GetInt32("UUID"))
                        {                        
                        <p>
                        <form asp-controller="Wedding" asp-action="Delete" asp-route-id="@wedding.WeddingId" method="post">
                            <button class="btn btn-outline-danger mt-2">Delete</button>
                        </form>
                        </p>
                        }
                        else {
                        <form asp-controller="Wedding" asp-action="RSVP" asp-route-id="@wedding.WeddingId">
                            <button class="btn btn-outline-info">
                            @if (alreadyRSVPd)
                            {
                                <span>Un-RSVP</span>
                            }
                            else 
                            {
                                <span>RSVP</span>
                            }
                            </button>
                        </form>
                        }

                    </p>
                </td>

            </tbody>
            }
        </table>

    </div>