@model Wedding

@{
    ViewData["Title"] = $"{Model.WedderOne} & {Model.WedderTwo}'s Wedding";
}

<div>
    <div>
        <h1 class="text-center mt-5">@ViewData["Title"]</h1>
        @* <h3>Date: @Model.WeddingDate.ToString("MM/dd/yyyy")</h3> *@
        <h3 class="mt-3">Date: @Model.WeddingDate.ToString("MMM d, yyyy")</h3>
    </div>
    <div>
        <h2>Guests: </h2>
        <ul class="container border">
            @foreach (WeddingRSVP guests in Model.WeddingGuests)
            {
                <li class="list-inline">@guests.User.FirstName @guests.User.LastName</li>
            }
        </ul>
    </div>
    <div>
        @if(Model.UserId == Context.Session.GetInt32("UUID"))
        {
        <p>
        <a  asp-controller="Wedding" asp-action="Edit" asp-route-id="@Model.WeddingId" class="btn btn-outline-success mt-2">Edit Vacation</a>
        </p>
        }
    </div>









</div>


